<div class="container">
<form name="login" action='/create_game' method="post">
Player 1: <input type="text" name="player1"><br>
Player 2: <input type="text" name="player2">
<input type='submit' value='Start game'>
</div>
